<html>
<head>
    <title>Pi Car </title>
</head>
<body>
    <input type="button" value="\"/> 
    <input type="button" value="^"/>
    <input type="button" value="/"/>
    <br/>
    <input type="button" value="<"/>
    <input type="button" value="."/>
    <input type="button" value=">"/>
    <br/>
    <input type="button" value="/"/>
    <input type="button" value="v"/>
    <input type="button" value="\"/>
    <br/>
    <p id="reporter"> Update here </p>
    <script src="/static/js/jquery-3.2.1.min.js"> </script>
    <script src="/static/js/controls.js"> </script>
    <link rel="stylesheet" type="text/css" href="/static/css/controls.css"/>

</body>

</html>
